.bg-container{
    padding:30px;
}
.specifications{
    height:180px;
    width:160px;
}
.discription{
    padding-left:10px;
}
.heading{
    font-family: "Roboto";
    font-weight: bold;
    font-size:30px;
}
.paragraph{
    font-family:"Roboto";
   font-size:20px;

}
.image2{
    height:40px;
    width:30px;
}